<:Title>
    asheehan.io - Details

<:Body>
    <p>
        I love web development and I have been using PHP/MySQL ever since making my first website while in college. I've
        also done professional Java development. I am looking for a job where I can continue to expand and improve my skill
        set learning new tools and technologies. Recently, I have been pushing myself to learn/practice using Ruby whenever
        possible.
    </p>
    <p>
        Feel free to check out my <a href="/assets/images/resume.pdf">resume</a>, <a
            href="https://www.linkedin.com/in/apsheehan">LinkedIn</a> or <a href="https://github.com/asheehan">GitHub</a>
        and contact me with any questions.
    </p>
