<:Title>
    asheehan.io - Notes

<:Body>
    <h2>Volt</h2>
    <p>
        So I've been getting more familiar with the <a href="http://voltframework.com/">Volt Framework</a> and I'm
        really enjoying it. I'll hopefully be finishing up a few personal projects using Volt sometime in the next week.
        I'm hoping that it will give me a look at a solid Ruby Framework and interesting projects like Opal.
    </p>

    <h2>Writing</h2>
    <p>
        So I love TheOnion and about 2 months ago I started writing sporadic satire articles centered around the
        ultimate community. I really enjoyed writing them and it's been satisfying to see the number of readers for each
        article grow so dramatically. The last article had over 5k views and 4k 'reads' according to Medium. Awesome
        publishing platform and it's great to see people enjoy your content, whether it be a small JavaScript module, a
        webpage, or a silly article!
    </p>

    <h2>Raspberry Pi</h2>
    <p>
        I've finished setting up my Raspberry Pi with Raspbian and Kodi. It will play off my SMB share without much fuss
        (as long as the file format is reasonable). My next task (to appease the girlfriend) will be to make organizing
        shows and movies better. I want to integrate with the <a href="https://trello.com/">Trello</a> API as I
        personally enjoy using Trello for organizing my thoughts.
    </p>

    <h2>Silex/Microservices</h2>
    <p>
        We've been doing more work with microservices. Things are easy to get up and running quickly with micro
        frameworks like Sinatra and Silex. We had a few snags getting configuration files passed/parsed correctly but
        we've set the stage for creating a single service to maintain for our various work sites. The biggest initial
        use case is for Google Content API for Shopping.
    </p>

    <h2>Google Tag Manager</h2>
    <p>
        Google Tag Manger is now up and running. After getting things up and running with new analytics and ecommerce
        Javascript modules, things work INCREDIBLY smoothly. It's satisfying to be able to add a single module and have
        extra google anayltics data like product data or impressions just work immediately.
    </p>